.active{
    background-color: cornflowerblue !important;
}
.li_selected{
    background-color: cornflowerblue !important;
    color: white !important;
}
.edit_a{
    color: #999999 !important;
    font-size: 14px !important;
    text-decoration: none !important;
    margin-left: 10px;
    float: right;
    font-weight: bold;
}

.edit_a:hover{
    color: cornflowerblue !important;
}
.question_img{
    width: 30px;
    height: 30px;
}
.editA{
    color: #42df52 !important;
}
.deleteA{
    color: red !important;
}
.notification_a{
    text-decoration: none !important;
    font-size: 16px;
    color: cornflowerblue;
}
.read_a{
    color: gray !important;
}
.notification_div{
    margin: 20px;
}
.notification_time{
    font-size: 14px;
    color: #cacaca;
}
#btn_notification{
    padding: 8px 10px 10px 10px;
    display: inline-block;
    height: 34px;
    color: black;
}
#btn_notification:hover{
    background-color: lightgray;
}
