<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>出错了</title>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="jumbotron" style="margin: 50px;padding: 50px;border-radius: 20px">
        <h1 style="font-weight: bolder">出错啦！</h1>
        <p th:text="${message}"></p>
        <p>
            <a class="btn btn-primary btn-lg" href="/" role="button" style="background-color: cornflowerblue">
                回到首页
            </a>
        </p>
    </div>
</body>
</html>
